.popular__container {
	
}

.popular__image-wrap {
	
}

.popular__img {
	
}

.popular__job {

}

.popular__position {
	font-family: Lato;
font-size: 12px;
font-weight: 400;
line-height: 19.92px;
letter-spacing: 0.1em;
color: #7B7B7B;
}

.popular__date {
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	line-height: 19.92px;
	letter-spacing: 0.1em;
	text-align: left;
	color: #7B7B7B; 
}

.popular__info {

}