/* Body */

body {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: var(--font-w-normal);
    line-height: 1.36;
    color: var(--main-text-color);
    width: 100%;
}

.main {
    width: 100%;
    height: auto;
}

.content-wrapper {
    width: 970px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .horizontal-line {
    border: 0;
    border-top: 1px solid #828282;
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 970px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
}

h1, h2 {
    font-weight: var(--font-w-bold);
}

a {
    text-decoration: none;
    color: var(--main-text-color);;
}

/* Header start */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.32px;
    height: 80px;
    width: 1,440px;
    padding: 0 120px 0 120px;
    box-sizing: border-box;
}

.header-nav {
    width: 496px;
    height: 30px;
    padding: 25px 0 25px 0;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    height: 30px;
}

.header-nav {
    color: var(--secondary-text-color);
}

.header-link {
    color: #828282    ;
}

.header__link:hover, .header__link:active {
    color: var(--main-text-color);
    transition: all 0.2s ease-in;
}

.header-list {
    list-style-type: none;
}
  /* Header end */

  /* Banner start */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 15px 0 15px;
}

.home-title {
    align-self: flex-start;
    margin-bottom: 44px;
}

.home-image {
    width: 970px;
    height: 387px;
}
/* Banner end */

  /* About me start  */
  .about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    box-sizing: border-box;
    width: Fixed (970px)px;
    height: Fixed (500px)px;
    top: 589px;
    left: 235px;
    gap: 50px;
    opacity: 0px;
    padding: 100px 480px 100px 480px;
}

  .about-me-heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 46.3px;
    text-align: center;
    margin-bottom: 45px;
  }

  .about-me-text-wrap {
    max-width: 480px;
    height: Fixed (210px)px;
    gap: 30px;
    opacity: 0px;
  }

  .about-me-text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    margin-bottom: 31px;
  }

  .about-me-text:last-child {
    margin-bottom: 0;
  }
/* About me end */

/* Skills start */
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 1089px;
    left: 235px;
    padding: 100px 15px 100px 15px;
    gap: 50px;width: Fixed (970px)px;
    height: Fixed (564px)px;
    opacity: 0px;
    box-sizing: border-box;
}

.skills-heading {
    margin-bottom: 14px;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: Fixed (230px)px;
    gap: 97px;
    opacity: 0px;
    margin-top: 49px;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    margin-right: 97px;
}

.skills-item:last-of-type {
    margin-right: 0;
}

.skills-skill-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 26px;
}

.skills-logo--small-width {
    width: 53.33px;
}

.skills-skill-name {
    font-size: 14px;
    line-height: 19.07px;
    letter-spacing: 0.02em;
    font-weight: var(--font-w-bold);
    text-align: center;
    color: var(--secondary-text-color);
}

.skills-rating {
    width: 170px;
    height: 26px;
    margin-top: 59px;
}

.skills-rating-star {
    fill: var(--main-text-color);
    width: 170px;
    margin-right: 5px;
}

.skills-rating-star:last-of-type {
    margin-right: 0;
}

.skills__rating-star--empty {
    fill: var(--empty-star-color);
}

/* Skills end */

/* Portfolio start */
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding: 59px 235px 59px 235px;
    box-sizing: border-box;
}

.portfolio-name {
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46.3px;
    text-align: center;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    width: Fixed (970px)px;
    height: Fixed (630px)px;
    gap: 70px;
    opacity: 0px;
    margin-bottom: 70px;
    text-align: center;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-image {
    width: 970px;
    height: 540px;
    margin-bottom: 70px;
}

.portfolio-link {
    height: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;

}

.portfolio-link:hover {
    text-decoration-thickness: 2px;
}
/* Portfolio end */

/* Footer start */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: Fixed (970px)px;
    height: Fixed (400px)px;
    left: 235px;
    padding: 0px 3px 0px 3px;
    gap: 60px;
    opacity: 0px;
    box-sizing: border-box;
}

.footer-heading {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46.3px;
}

.footer-text {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24.51px;
    text-align: center;
}

.footer-social-icons {
    display: flex;
    margin: 31px 0 54px 0;
}

.footer-icon-wrapper {
    height: 30px;
    margin-right: 50px;
    margin-top: 30px;
    margin: 0 50px;
    margin-bottom: 60px;
}

.footer-icon-wrapper:last-child {
    margin-right: 0;
}

.footer-icon {
    width: 40px;
    height: 40px;
    fill: var(--main-text-color);
    stroke: var(--main-text-color);
}

.footer-icon:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in;
}

.footer-follow {
    font-weight: 400;
    line-height: 19.07px;
    text-align: center;
    margin: 55px 60px 0 55px;
}

.footer-follow, .footer-link {
    font-size: 14px;
    color: #828282;
}

/* Footer end */

/* Footer Button start */
.footer-button {
    width: 180px;
    height: 44px;
    padding: 0px 16px 0px 16px;
    gap: 0px;
    border-radius: 22px;
    opacity: 0px;
    color: #ffffff;
    background-color: #070707;
}
/* Footer Button end */