.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 34px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.wrapper {
    margin: 0 34px;
}

@media (max-width: 500px) {
    .container {
        padding: 0 10px;
    }
}