/* Body start */
body {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: var(--fw-light);
    font-style: normal;
    color: var(--main-text-color);
    background-color: var(--white-color)
}
/* Body end */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content-wrapper {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-text-color);
    margin-right: 30px;
}

a:link, a:visited, a:hover, a:active, a:focus {
    outline: none;
}

/* Header start */
.header {
    display: flex;
    justify-content: center;
    width: 1440px;
    padding: 9px 0 9px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    transform: translateX(-22px);
}

.header__list-item:hover {
    transform: scale(1.1);
    transition: font-size 0.5s ease-in-out;
}

.header__button {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: var(--fw-semi-bold);
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-text-color);
    background-color: var(--white-color);
    border: 1px solid var(--main-text-color);
    box-sizing: border-box;
    width: 130px;
    height: 42px;
}

.header__button:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
    border: 0;
    transition: all 0.2s ease-in;
  }
/* Header end */

.horizontal-line {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--hr-color);
    margin-block-start: 0;
    margin-block-end: 0;
}

.header__logo {
    width: 170px;
    height: 60px;
}

/* Navigation start */
.nav__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav__list__item {
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    margin-right: 30px;
}

.nav__list-item:last-child {
    margin-right: 0;
  }
  
  .nav__list-item--small-font {
    font-size: 18px;
    line-height: 21.6px;
  }

  .nav__link {
    font-weight: var(--fw-semi-bold);
    font-style: normal;
    font-size: 20px;
  }
  
  .nav__link:hover {
    color: var(--accent-color);
    transition: color 0.2 ease-in;
  }
  
  .nav__link--active {
    color: var(--accent-color);
  }

/* Navigation end */

/* About start */
.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 150px 0;
}

.about__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title {
    position: relative;
    font-size: 34px;
    line-height: 40.8px;
    letter-spacing: 0.14em;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    padding-bottom: 16px;
    margin-bottom: 40px;
    margin-left: 7px;
}

.about__text {
    width: 570px;
    font-size: 16px;
    line-height: 24px;
    word-spacing: 1.2px;
    text-align: center;
    margin-bottom: 55px;
}

.about__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 26px);
    width: 45px;
    height: 4px;
    background-color: var(--pseudo-line-color);
  }
/* About end */

/* About cards start */
.about__cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.about__card-item {
    font-size: 18px;
    word-spacing: 1px;
    width: 270px;
    margin-left: 25px;
}

.about__image-wrap {
    position: relative;
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .about__image-wrap:hover .about__overlay {
    opacity: 1;
    transition: all 0.2s ease-in;
  }

  .about__image {
    display: block;
    width: 100%;
    height: 270px;
  }

  .about__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    z-index: 1;
    opacity: 0;
  }

  .about__social-icons {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 134px;
  }

  .about__icon {
    fill: var(--white-color);
    background-color: var(--light-accent-color);
  }

  .about__icon:hover {
    fill: var(--accent-color);
    background-color: var(--white-color);
  }

  .about__social-link {
    display: inline-block;
    width: 134px;
    height: 42px;
    margin-right: -125px;
  }

  .about__name {
    font-weight: var(--fw-bold);
    line-height: 21.6px;
    color: var(--card-name-text-color);
  }

  .about__position {
    line-height: 20.6px;
    color: var(--card-description-color);
  }
/* About cards end */

/* Icons start */
.icon {
    width: 42px;
    height: 42px;
    cursor: pointer;
  }
  
  .icon:last-child {
    margin-right: 0;
  }
  
  .icon:hover {
    transition: all 0.2s ease-in;
  } 
/* Icons end */

/* Footer start */
.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    padding-top: 40px;
    margin-bottom: 28px;
}

.footer__nav {
    margin-bottom: 28px;
    margin-top: 28px;
}

.footer__nav-link {
    font-size: 18px;
    font-weight: var(--fw-semi-bold);
    font-style: normal;
    margin-left: 30px;
}

.footer__nav-link:hover {    
    color: var(--accent-color);
    transition: color 0.2 ease-in;
}

.footer__nav-link--active {
    color: var(--accent-color);
}

.footer__icons{
    padding: 10px;
    fill: var(--accent-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
}

.footer__social-link {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 3px;
}

.footer__icon--reverse {
    transform: rotate(90deg) translateX(0px);
  }
  
  .footer__icon:hover {
    fill: var(--white-color);
    background-color: var(--accent-color);
  }
/* Footer end */