/* Body */
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--fw-regular);
  font-style: normal;
  color: var(--main-text-color);
}
/* Body end */

.container {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3 {
  color: var(--secondary-text-color);
}

a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active, a:focus {
  outline: none;
}

/* Heroes start */
.heroes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 120px;
}

.heroes__inner {
  display: flex;
  align-items: center;
}

.heroes__text-block {
  display: flex;
  flex-direction: column;
}

 .heroes__heading {
  font-weight: var(--fw-bold);
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 30px;
}

 .heroes__text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.heroes__image {
  display: block;
  width: 644px;
  height: 495px;
}
/* Heroes end */

/* Button start */
.button {
  width: 110px;
  height: 46px;
  font-family: "Montserrat";
  font-weight: var(--fw-semi-bold);
  margin-top: 17px;
  padding: 13px 25px 13px 25px;
  text-align: center;
  color: var(--white);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;  
}

.button--white {
  background-color: var(--white);
  color: var(--secondary-text-color);
  border: 1px solid var(--btn-border-color);
  margin-right: 32px;
}

.button__big {
  font-family:  "Poppins", sans-serif;
  width: 180px;
  height: 50px;
  font-weight: var(--fw-bold);
  vertical-align: middle;
}

.button__large {
  width: 180px;
  height: 50px;
}

.button:hover {
  background-color: var(--btn-border-color);
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.button__white:hover {
  color: var(--white);
  background-color: var(--btn-border-color);
  border: none;
}

.button__large {
  width: 180px;
  height: 50px;
  padding: 13px 40px 13px 40px;
}
/* Button end */

/* Header start */
.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 18px;
  padding-top: 17px;
  margin-bottom: 70px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  margin-top: 26px;
}

.header__list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.header__list-item {
  line-height: 28px;
  margin-right: 20px;
}

.header__link:hover {
  color: var(--accent-color);
  transition: all 0.1s ease-in;
}

.header__auth {
  display: flex;
  justify-content: center;
}
/* Header end */

.header__logo {
  width: 200px;
  height: 32px;
  margin-top: 24px;
  margin-left: 120px;
}

/* Icon start */
/* .icon {
  font-family: "FontAwesome";
  fill: white;
  background-color: var(--tangetine-icon-bg);
}

.icon--violet {
  background-color: var(--violet-icon-bg);
}

.icon--red {
  background-color: var(--red-icon-bg);
}

.icon--blue {
  background-color: var(--blue-icon-bg);
} */
/* Icon end */

/* Features start */
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 99px;
}

.features__title {
  width: 539px;
  font-size: 36px;
  font-weight: var(--fw-bold);
  line-height: 43.88px;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 31px;
}

.features__linear-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 19px 0 74px 0;
  overflow: hidden;
  background: url("../images/bg.svg") no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.features__tests-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
} 

.features__item-link {
  display: inline-block;
  width: 270px;
}

.features__tests-item {
  width: 270px;
}

.features__icon {
  width: 51px;
  line-height: 18.4px;
  height: 50px;
  padding: 16px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.features__heading {
  font-size: 22px;
  font-weight: var(--fw-semi-bold);
  line-height: 26.82px;
  width: 279px;
  margin-top: 30px;
  margin-bottom: 16px;
}

.features__description {
  color: var(--main-text-color);
  font-weight: var(--fw-medium);
  line-height: 26px;
}
/* Features end */

/* Footer start */
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0 55px 0;
  padding-right: 120px;
  padding-left: 120px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__list-block {
  width: 135px;
}

.footer__heading {
  font-family: "Gotham", sans-serif;
  max-width: 280px;
  font-size: 20px;
  font-weight: var(--fw-bold);
  line-height: 30px;
  letter-spacing: 0.5px;
  word-spacing: 1.4px;
  margin-bottom: 22px;
}

.footer__list {
  margin-left: -40px;
  list-style-type: none;
  padding-top: 8px;
}

.footer__list-item {
  font-weight: var(--fw-medium);
  line-height: 26px;
  margin-bottom: 15px;
}

.footer__list-link {
  color: var(--main-text-color);
}

.footer__list-link:hover {
  color: var(--btn-border-color);
}

.footer__form-wrap {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  width: 100%;
}

.footer__form-input {
  width: 100%;
  height: 50px;
  color: var(--main-text-color);
  letter-spacing: 1.2px;
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  outline: none;
  padding: 16px 10px 15px 10px;
  box-sizing: border-box;
  margin-bottom: 25px;
}
/* Footer end */