.header {
    background: $brown-light;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 182px;
        height: 34px;
    }


    &__icons {
        display: flex;
        gap: 30px;
    }

    &__search, &__profile {
        width: 36px;
        height: 36px;
    }
}

.nav {
    &__list {
        list-style: none;
        display: flex;
        font-size: 20px;
        line-height: 24.38px;
    }

    &__item {
        padding: 28px 15px;
    }
}