@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  background: #f8f1ea;
  width: 1400px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 182px;
  height: 34px;
  margin-left: 100px;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header__search, .header__profile {
  width: 36px;
  height: 36px;
}

.header__profile {
  margin-right: 102px;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 24.38px;
}

.nav__item {
  padding: 28px 15px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  padding: 28px, 15px, 28px, 15px;
  width: 93px;
  height: 80px;
  color: #ffffff;
  background-color: #F16A50;
}

.heroes__slider-item {
  position: relative;
}

.heroes__slider-item img {
  width: 100%;
}

.cta {
  color: #f8f1ea;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 120px;
  right: 100px;
}

.cta__title {
  text-align: center;
  text-transform: uppercase;
  line-height: 60.95px;
  font-weight: 700;
  font-size: 50px;
}

.cta__btn {
  padding: 15px 57px 15px 57px;
  border: 2px solid #f8f1ea;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  background: transparent;
  color: #f8f1ea;
}

.cta__btn:hover {
  background-color: #f16a50;
  transition: 0.3s ease-in-out;
}

.my-dots {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.my-dots li {
  position: relative;
}

.my-dots li button {
  color: transparent;
  background: transparent;
}

.my-dots li button:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(248, 241, 234, 0.6980392157);
}

.my-dots li.slick-active button:before {
  background: #f16a50;
}

/* Arrivals start */
.arrivals {
  width: 100%;
}

.arrivals__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 70px;
}

.arrivals__container {
  position: relative;
  padding: 0 50px;
}

.arrivals__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #f8f1ea;
  margin: 0 10px;
  height: inherit !important;
}

.arrivals__slider-prev {
  position: absolute;
  left: 0;
  top: 40%;
  height: 74px;
  width: 40px;
  background: url("/images/prev.svg");
}

.arrivals-slider__price {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: center;
  padding: 0 10px;
  padding-bottom: 20px;
}

.arrivals-slider__img {
  display: block;
  width: 204px;
  height: 300px;
  padding: 20px 10px 10px 10px;
}

.arrivals-slider__label {

  background-color: #f16a50;
  color: #f8f1ea;
}
/* Arrivals end */
/* Partners start */
.partners {
  background-color: #F8F1EA;
  padding-bottom: 70px;
  width: 1400px;
}

.partners__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  padding-top: 70px;
}

.partners__container {
  position: relative;
  padding: 0 50px;
}
.partners-slider__item svg {
  width: 100px;
}
.partners__slider-prev {
  position: absolute;
  left: 0;
  margin-top: -37px;
  top: 50%;
  height: 74px;
  width: 40px;
  background: url("/images/prev.svg");
}

.partners__slider-next {
  position: absolute;
  right: 0;
  margin-top: -37px;
  top: 50%;
  height: 74px;
  width: 40px;
  background: url("./images/next.svg");
}

/* Footer start */
.footer {
  background: #35312d;
  width: 1400px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
}

.footer__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.footer__logo {
  width: 150px;
  height: 30px;
  margin-left: 132px;
  margin-bottom: 35px;
}

.footer__nav {
  font-size: 20px;
  line-height: 24.38px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__nav a {
  color: white;
  text-decoration: none;
  margin-left: 130px;
}

.footer__nav a:hover {
  color: #F16A50;
}

.footer__nav ul li {
  margin: 0 10px;
}

.footer__copyright {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.contact__title {
  color: white;
  font-family: Montserrat;
  font-size: 26px;
  line-height: 31.69px;
  text-align: left;
  margin-bottom: 48px;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
}

.contact__item svg {
  width: 30px;
  height: 30px;
}

.contact a {
  font-size: 26px;
  line-height: 31.69px;
  text-align: left;
  color: white;
  text-decoration: none;
}